@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto+Condensed:wght@300&display=swap');
:root {
    --theme-color:whitesmoke;
    --navBar-color:#142738;
    --background-color:#ffffff;
    --primary-color:#142738;
    --secundary-color:#a8bbcd;
    --terceary-color:#d8e472;
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Pangolin', cursive;
    background: var(--background-color);
}
a{
    text-decoration: none;
    color: var(--terceary-color);
}
/* HEADER */
.header{
    box-shadow: 0 5px 5px #142738;
    position: fixed;
    background:var(--navBar-color) ;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}
.logo img{
    width: auto;
    height: 110px;
}
.menu {
    list-style-type: none;
    display: flex;
}

.menu li{
    padding: 0 30px;
}
.menu a{
    font-size: 20px;
    font-weight: 600;
    position: relative;
}
.menu a::after{
    content: "";
    background-color: var(--terceary-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}
.menu a.selected::after,
.menu a:hover::after {
    opacity: 0.8;
}

.openMenu, .closeMenu {
    display: none;
}

h2 {
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
h3 {
    text-transform: uppercase;
    padding: 10px 0;
}
strong {
    color: #d8e472;
}
/* MOBILE FIRST */

@media screen and (max-width:767px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 90%;
    }
    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--navBar-color);
        height: 50vh;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        box-shadow: 0 3px 5px #142738;
    }
    .menu li{
        padding: 0;
        line-height: 60px;
    }
    a{
        color: var(--terceary-color);
    }
    .openMenu, .closeMenu {
        display: block;
        border: none;
        background: none;
    }
    .openMenu img, .closeMenu img {
        width: 40px;
        height: 40px;
    }
    .closeMenu {
        align-self: flex-end;
        padding: 20px;
    }
    .menuOpened {
        opacity: 1;
        pointer-events: all;
    }

    /* MAIN - BANNER */
    .banner {
        background-image: url(/assets/banner.webp);
        background-position-y: 80px;
        height: 40vh;
        background-size:cover;
        display: flex;
    }
    .text-banner {
        font-size: 0.8rem;
        margin: 150px 220px 100px 20px;
        text-align: center;
        color: var(--primary-color);
    }
    .text-banner h1{
        text-transform: uppercase;
    }
    .text-banner p{
        padding: 10px;
        font-weight: 600;
    }
    
    /* MAIN - NOSOTROS */

    .container-nosotros{
        background-color: var(--primary-color);
        text-align: center;
        color: var(--secundary-color);
        padding: 10px;
    }
    .container-nosotros p {
        font-size: 1.1rem;
        padding:0 10px 10px;
    }
    .btn-descargar-app {
        margin: 30px;
        background-color: #d8e472;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1.1rem;
        box-shadow: 1px 1px 15px var(--terceary-color);
    }
    .btn-descargar-app a{
        color: #142738;
    }
    /* MAIN - SERVICIOS */

    .container-servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-servicios h2{
        color: var(--primary-color);
        margin-top: 15px;
    }
    .card {
        color: var(--primary-color);
        padding: 20px;
        text-align: center;
    }
    .card img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .card h3 {
        border-radius: 5px;
        color: var(--primary-color);
        font-weight: bold;
    }
    .card p {
        font-weight: 500;
        font-size: 1.1rem;
    }
    .btn-info {
        text-transform: uppercase;
        font-weight: 500;
        background-color: var(--primary-color);
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px; 
    }
    /* MAIN - COMENTARIOS */

    .container-comentarios {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        color: var(--secundary-color);
        align-items: center;
    }
    .container-comentarios h2 {
        color: var(--terceary-color);
        margin-top: 15px;
    }
    .comentario {
        width: 80%;
        padding: 15px;
        font-weight: 700;
        text-align: center;
    }
    .comentario i{
        font-weight: 400;
        font-size: 1.1rem;
    }
    .comentario p{
        color: #d8e472;
        padding: 10px;
        font-size: 1.2rem;
    }

    /* MAIN - SEPARADOR */

    .separador {
        background-image: url(../assets/separador.png);
        background-attachment: fixed;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 60vh;
    }

    /* MAIN - DESCARGA */

    .container-descarga{
        color: var(--primary-color);
        background-color: var(--terceary-color);
        text-align: center;
        padding: 30px 10px;
        box-shadow: 0px 5px 10px var(--terceary-color);
    }
    .container-descarga h3{
        padding: 15px 0px;
    }
    .flex-container div{
        padding: 10px;
    }
    .store img{
        width: 150px;
    }

    /* MAIN - CONTACTO */
    .container-contacto h2 {
        margin-top: 20px;
        color: var(--primary-color);
    }
    .container-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-group {
        display: flex;
        flex-direction: column;
    }

    label {
        color: var(--primary-color);
        font-size: 1.1rem;
        margin:20px 0 5px ;
    }

    input, textarea {
        padding: 10px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
    }
    .btn-enviar {
        margin: 20px 0;
        padding: 12px 0;
        width: 50%;
        align-self: center;
        border: none;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: var(--terceary-color);
        font-size: 1.1rem;
        font-weight: 600;
    }

    /* MAIN-FOOTER */
    .container-footer {
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .img-footer img{
        width: 200px;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes h3{
        color: var(--terceary-color);
    }
    .redes-iconos img{
        width: 30px;
        margin: 0 10px;
    }

    .contacto-footer h3 {
        color: var(--terceary-color);
        margin-top: 20px;
    }
    .contacto-footer p {
        color: var(--terceary-color);
    }
    .copyright p{
        color:var(--terceary-color) ;
        margin: 40px;
    }







}